{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Swanky+and+Moo+Moo" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
      <title> All About Me: Aileen Park</title>
  </head>
<body>

<div id="homebanner">
</div>

<!-- tabs -->
<div class= "box">
  <a href= "#funfacts">Fun Facts</a>
</div>
<div class= "box">
  <a href= "#likes">Likes</a>
</div>
<div class= "box">
    <a href="#dislikes">Dislikes</a>
</div>
<div class= "box">
    <a href="#links">Links</a>
</div>
<div class= "box">
    <a href="#classwork">Classwork</a>
</div>

  <h1><a href="posts">Aileen Park</a></h1>

<div class= "self-portrait">
  <img id="self-portrait" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/17626162_428269834188770_790228731265829682_n.jpg?oh=66e362d1150018f0ed8a69e3ee97114c&oe=5A11D2F0"/>
<p style="clear: both;">

  <h3>My Life</h3>
      <p>I am a 16 year old girl who currently lives in New York.</p>
      <p>I attend a public high school and am planning on majoring in computer science or mechanical engineering when I get to college.</p>
      <p>When I was 7 years old, I was diagnosed with non-Hodgkins Lymphoma.</p>
      <p>I was forced to miss most of class during 2nd grade,
        and I made daily visits to the hospital to receive chemotherapy, and I lost all of my hair.</p>
      <p>While at home, I began to write songs to express my emotions, because I believed that it was healthier than bottling all my thoughts. </p>
      <p>So with that, I became a singer song-writer, developing my techniques by focusing on classical singing and piano.</p>
      <p>I hope to find an occupation that will incorporate both my love for music and my creativity in computer science.</p>
      <p>Follow me on <a href= https://www.instagram.com/aileenpark__/?hl=en> Instagram</a>!</p>

<!-- <div id="pagebreak">
</div> -->

<div id= "funfacts">
  <h3> Fun Fact</h3>
      <p>I have an obsession with cleanliness.</p>
      <p>I clean my room (vacuum and dusting) every day.</p>
      <p>I also really enjoy rearranging my room every few weeks.l</p>
</div>
  <ul id="likes">
    <lh><h3> Likes </h3></lh>
    <li>reading books and webtoons</li>
    <li>playing piano, singing, and writing songs</li>
    <li>painting</li>
    <li>traveling and trying new foods</li>
    <li>exercising</li>
    <li>spending time with friends and family</li>
  </ul>

<div class= "pictures">

<img id= "friends" src="https://lh3.googleusercontent.com/wHGwQE-MziZRqzu6mo6b8T6DQPwobo96bJphR888Q1kIuCW8fmjP3cx9D9LcJItv9fhL4Iar_aocAPT0CKgT0cstMweNwTrBze1eE2121OPn_Fy9E92OckBphOu3GyVIv9CXeCsOVrm0sg2SUasAD1S9voNVyRMrCYr_t_y9MtJ6_0AuEmP_-3XOpCWSrrAANrsjdJYecIpMXUguCoBAPeZGBTSSrxCs6VOKirN4ahgs1nOKbtLRqsT92n4PsadygwmRMBaHzmQd6fjqDizGHI7Ir8KZr6-a6f92AoBDNFsOl6epc-nD517ZxYASNPQx4YskqEQfR7YPnIPqbkYVn2Gr0gIH7YK6ZlmK8dgUjtK-vqftQ0EgkIp6PumV4K2fJx4AU9wIl_B9PPQFj_mGEdiRucTeUx3yWbNEUQlPgRRRyCvhfU5Ys-MPfDVULBmdpfavu1YwJA0u-Za1ymDKADcFMSV-tf7d5W4kj0KS1TlWCWcadZfRif8PBusPXC3ZZ3yrel2htAI8MyLrci3fL5zChrkOJbT-uFcErMxgxL4H2Pbhvu3tJU6XSotg8do6MkYmAMClPjdP0GA=s960-w960-h640-no"/>

<img id= "fam"
src="https://lh3.googleusercontent.com/7FWHAj4RbjG0Tu4IqHSo6XwYfSg0UN-ZP7Qn19CAm_pKGSD2t5uNKrRtIhNou98M6FW9IqSFaWV_lLiO2MDflP2k8tEDIho-pmLNi7olsmLJZzv_jXCFQqu7TxhhwJqheEymifF2cMb8JcSCh4zfg6ccGdGm8keBqU7WygHDlEARRTUy4PwPS7B0Jm8DtviNowyyS-63c3qqem4Ml-MPbN_YTvlOq6ELohjgfy8okmb97vzLGD4ALbzzILN9EUfyJzEUwcPpkkbZ5g2hSNJI0UFVeNzC5UvQGddi7IZuW48rGxf9-X0U9bfO42XW9MhPAkikX69t6U6bNHvjVa6ynRS0sMQsoJHIwRc9eHiypFlqZgjlGutCxiOBc2QLkHsgm41ZEjNsq9ilW5xuONWn_DU3EX6JO7bOhuNN1rTatjQOhee69a9ybpFKLk47ibp7dGZkOsuvFGpmjMtuER7QFsbXJKKDYCOjjgouV5ZlX608pBqF-MV4Bpok_noBct0lsFZ-z0yG2xFGVp7ulLUdOXI4_zpEtgpYTJYAYdkNn04xShIxujouLLW4LFq2bzIIhcTYIX-8CljvQuo=s1076-w1076-h807-no"/>

<img id= "music"
src="https://lh3.googleusercontent.com/1CIRGhv2YjBZKENJ-rBO6wd9f4rzJDTK-i8QTY9mDj9AL5_cenCi4057X7sAmiq9JP-9weGH9wjE5O5NgORCy-0_2Ia5Uc6dsdpFXBBD-f4Ik9a2lMyfzsEb4C7u3zuVnkIKxRWvs-sRICAuGvQkBEGJdU02bWEXCRObxzXPU0coa-ateN6JEmnMqslGO24tkH7gMRu8Xf9eMVHmu-R30VczKEt3U68TsjHtFoSiv4hodpsa2yPboZ1l8izzst5wPYd-BYyCrLLjWL4HcEdkWoyFDvPmzUeQaiqmuGfxuupKYDFAQuK1QPUE18ICYQQsM_VlcZPDNHjkwM5i0ZO_EApLVlJtSZx81dZaxb9ZmCFT4OKRAdDy4JQ1XSXiF1zYIBxfaSXmXDDhMOcVFFniv3iluK5vAM6XcDOVOJr0x5c7u3BGclkQXQj1Is0Q7KbQgh3IFqK__ad_MAXvK9axZcm7NBFVUS1flkehYk-XnCLZ2xGpQynModDaefnxgN978nn0yDSLzGPimr8pwoCv790wnTlB44SwLjWAKsE4aIElSaCMT2HnG7cqXaqw3p4k-MAu73ndMaC3Y30=s1620-w1620-h1215-no"/>
</div>

  <ul id="dislikes">
    <lh><h3>Dislikes</h3></lh>
    <li>eating foods that I do not like</li>
    <li>loud sounds that aren't music</li>
    <li>clothes that do not fit well</li>
    <li>bad haircuts</li>
  </ul>
<ul id="links">
  <lh><h3>My Favorite Websites</h3></lh>
  <li><a href="https://www.youtube.com/">YouTube</a></li>
  <li><a href="http://www.webtoons.com/en/">Webtoon</a></li>
  <li><a href="https://www.dramafever.com/">DramaFever</a></li>
</ul>

<div id= "classwork" class="classwork">
  <h3><a href="https://scratch.mit.edu/projects/168594338/">Turnip</a></h3>
  <p>Help Turnip get home by pressing space to jump and avoid obstacles!</p>
  <img id="Turnip" src="scrollgame.PNG"/>
</div>

<div id="classwork" class="classwork">
  <h3>Text Adventure</h3>
  <p>This is a game that gives the user a choice in which paths/actions to take in order to get home</p>
  <img id="text-adventure" src="text.adventure.PNG"/>
  <img id="textgame" src="textgame.PNG"/>
</div>

<div id= "classwork" class="classwork">
  <h3>Arduino</h3>
  <p>This programmed a robot to play songs like the Harry Potter theme song.</p>
  <img id="harrypotter" src="harrypotter.PNG"/>
</div>


</body>
</html>
