<html>
    <head>
        <title>Aileen's Blog</title>
    </head>

    <body>
      <div>
    <h1><a href="/">Django Girls Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
           <!-- <div>
               <h1><a href="">Django Girls Blog</a></h1>
           </div>

{{ posts }}

<QuerySet [<Post: My second post>, <Post: My first post>]> -->

  {% for post in posts %}
    {{ post }}
{% endfor %}
           <!-- <div>
               <h2><a href="">My First Post</a></h2>
               <p>Published: July 31st, 2017</p>

               <p>Hello!</p>
               <p> My name is Aileen Park and I am a rising junior at a high school on Long Island. </p>
           </div>

           <div>
               <h2><a href="">My Second Post</a></h2>
               <p>Published: July 31st, 2017</p>

               <p>Today is the first day of the fourth week of my summer program.</p>
               <p> Girls Who Code is a seven week summer immersion program that is hosted at different locations. </p>
               <p> My program is being hosted at the Microsoft Technology Center.</p>
               <p> I've learned so much here about coding, web development, teamwork, and more. </p>
           </div> -->
   </body>

</html>
