body{
  background-color:lavender;
  font-family: 'Swanky and Moo Moo', cursive;
  color: inherit;
  text-align: center;
}

p {
  font-size: 30px;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 5px;
}

h3 {
  text-align: left;
  text-decoration: underline;
  font-size: 35px;
  color: purple;
  margin-bottom: 0px;
}

h1 {
  font-size: 60px;
  text-align: center;
}

li {
  text-align: left;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
}

.box {
float: right;
width: 200px;
height: 100px;
margin: 1em;
font-size: 35px;
}

.after-box {
  clear: left;
}

#homebanner{
  position: relative;
  background-image: url(FullSizeRender.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 15vh;
 }

#self-portrait {
  max-width: 300px;
  float: left
}

/*.pagebreak {
  position: relative;
  background-image: url(pagebreak);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 50vh;*/
}

#likes h3 {
  color: green;
}

#dislikes h3{
  color: red;
}

#links h3{
  color: black;
}

.classwork {
  width: 50%;
  display: block;
  text-align: left;
}

#Turnip {
  max-width: 100%;
}

#text-adventure {
  max-width: 100%;
}
#textgame {
  max-width: 100%;
}
#harrypotter {
  max-width: 100%;
}

.pictures {
align-items: center;
}

#friends {
  max-width: 600px;
  max-height: 300px;
  float: none;
  padding: 10px;
    /*-webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-transform: scale(1.5);*/
   /*-moz-transform: scale(1.5);
   -o-transform: scale(1.5);*/
   transform: scale(1.5);
   z-index: 10;
   -webkit-transform: rotate(8deg);
   -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  padding: 10px 10px 30px 10px;
   background: white;
}

#fam {
  max-width: 500px;
  max-height: 300px;
  float: right;
  padding: 10px;
  -webkit-transform: rotate(-10deg);
   -moz-transform: rotate(-10deg);
   -o-transform: rotate(-10deg);
   transform: rotate(-10deg);
   transition: all 0.5s ease-out;
   padding: 10px 10px 30px 10px;
    background: white;
}

#music {
  max-width: 500px;
  float: left;
  padding: 10px;
  -webkit-transform: rotate(-5);
     -moz-transform: rotate(-3deg);
     -o-transform: rotate(-3deg);
     transform: rotate(-3deg);
     transition: all 0.5s ease-out;
     padding: 10px 10px 30px 10px;
      background: white;
}
